[submodule "packages/emacs-powerline"]
  path = packages/emacs-powerline
  url = git@github.com:jonathanchu/emacs-powerline.git
  ignore = dirty

[submodule "packages/emacschrome"]
  path = packages/emacschrome
  url = git://github.com/cbbrowne/emacs_chrome.git
  ignore = dirty

[submodule "packages/evil-surround"]
  path = packages/evil-surround
  url = git://github.com/timcharper/evil-surround.git
  ignore = dirty

[submodule "packages/irony-mode"]
  path = packages/irony-mode
  url = git@github.com:Sarcasm/irony-mode.git
  ignore = dirty

[submodule "packages/org-impress-js"]
  path = packages/org-impress-js
  url = git://github.com/kinjo/org-impress-js.el.git
  ignore = dirty

[submodule "packages/pkg-info.el"]
  path = packages/pkg-info.el
  url = git://github.com/lunaryorn/pkg-info.el.git
  ignore = dirty

[submodule "packages/rcodetools"]
  path = packages/rcodetools
  url = git://github.com/tnoda/rcodetools.git
  ignore = dirty
